.btn-menu
    margin: 0
    padding: 10px
    background: none
    border: none
    transition-duration: $transition-duration

    svg
        width: 30px
        height: 30px
        fill: $color_c

    &.active
        transform: rotateZ(180deg)
