footer
    width: 100%
    background-color: $color_d
    color: white
    font-family: 'Maven Pro', sans-serif

    a
        color: $color_b

    .wrapper-btn
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        position: relative

        .btn.footer
            margin-top: -25px
            position: absolute
            top: 0
            z-index: 2


    .widgets
        display: flex
        align-items: center
        justify-content: space-between
        margin: 0 auto
        margin-top: 30px

        .widget:nth-child(1)
            width: 400px

        .widget:nth-child(2)
            width: 205px
            

        .widget

            h2
                font-size: 18px

            a, p
                font-style: normal
                line-height: 20px
                display: flex
                justify-content: flex-start
                margin: 0
                padding: 0
                font-size: 12px


                svg
                    margin-right: 20px
                    width: 15px
                    height: 20px
                    fill: $color_b

    .copyright
        padding-top: 20px
        padding-bottom: 50px
        display: block
        text-align: center
        font-size: 10px

    @media screen and (max-width: 750px)
        .widgets
            flex-direction: column

            .widget:nth-child(1), .widget:nth-child(2)
                width: 400px

            .widget:nth-child(2)
                order: -1

    @media screen and (max-width: 450px)

        .widgets
            .widget:nth-child(1), .widget:nth-child(2)
                width: 95%