@mixin mobile_1
    .content
        flex-direction: column

        .logo
            margin-bottom: 10px

        nav
            margin: 20px 0

@mixin mobile_2 ($nav-height)
    .content
        .btn.menu
            display: block

        nav
            transition-duration: $transition-duration
            height: $nav-height
            overflow: hidden
            margin: 0

            &.collapsed
                height: 0

            ul
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column

                li
                    padding-top: 10px
                    padding-bottom: 10px
    
header
    background-color: $color_d

    .content
        display: flex
        align-items: center
        justify-content: space-between

        .logo
            height: auto
            width: auto
            margin: 20px 0

            img
                width: 160px
                height: auto

        .btn.menu
            display: none

        nav
            margin: 0
            padding: 0

            ul
                margin: 0
                padding: 0
                display: flex
                align-items: center
                justify-content: flex-start

                li
                    list-style: none
                    a
                        padding: 15px
                        font-size: 12px
                        color: $color_b
                        display: inline-block
                        text-align: center

                        &:hover
                            color: $color_c

                        &.active
                            font-weight: bold
                            cursor: default

                            &:hover
                                color: $color_b
                        
                    & a.language
                        opacity: 0.4
    
    // Responsive por regular header
    &:not(.menu-of-services)
        @media screen and (max-width: 970px)
            @include mobile_1

        @media screen and (max-width: 790px)
            @include mobile_2(385px)
    
    &.menu-of-services

        nav > ul > li
            position: relative
            height: 100px
            display: flex
            align-items: center
            justify-content: center

            .submenu
                display: none
                width: 200px

            &:hover

                .submenu
                    // display: none
                    position: absolute
                    top: 80px
                    margin-left: auto
                    margin-right: auto
                    left: 50%
                    transform: translate(-50%, 0%)
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    background-color: $color-d

            .submenu:hover
                display: flex

        // Repsonsive for menu or services headers
        @media screen and (max-width: 900px)
            @include mobile_1

        @media screen and (max-width: 650px)
            @include mobile_2(400px)

            a br
                display: none

            .content
                nav
                    ul
                        display: grid
                        grid-template-columns: repeat(1, 1fr)

                        li
                            height: auto

                            .submenu
                                display: none !important
        
