.big-logo
    width: 250px
    height: auto
    margin: 0 auto
    display: block
    margin-top: 50px

table
    width: 90%
    max-width: 600px
    margin: 0 auto

    td, th
        padding: 20px
        text-align: center

        > *
            display: block