.rivera-getaway    
    .big-logo
        width: 250px
        height: auto
        margin: 0 auto
        display: block
        margin-top: 50px

    .table.activities
        table
            width: 90%
            max-width: 600px
            margin: 0 auto

            td, th
                padding: 20px
                text-align: center

                > *
                    display: block

    .table.prices
        table
            width: 90%
            max-width: 750px
            margin: 0 auto

            td, th
                text-align: center
                padding: 5px 10px

                &.price
                    display: flex
                    align-items: center
                    justify-content: space-between

                &:first-child:not(th)
                    text-align: left

    h2
        text-transform: uppercase
        text-align: center

    .activities 

        #tulum .bottom-details .details-card:nth-child(1)
            grid-row-start: 1
            grid-row-end: 3

        #cenotes .bottom-details .details-card:nth-child(1)
            grid-row-start: 1
            grid-row-end: 3

        #xelha .bottom-details .details-card:nth-child(1)
            grid-row-start: 1
            grid-row-end: 3

        #xenses .bottom-details .details-card:nth-child(3)
            grid-row-start: 1
            grid-row-end: 3

        #xplore .bottom-details .details-card:nth-child(2)
            grid-row-start: 1
            grid-row-end: 3

