.transportation
    &.details

        .paralax
            background-image: url("../imgs/transportation.PNG")

            .titles 
                display: flex
                flex-direction: column
                align-items: flex-end
                justify-content: center
                padding-top: 100px

                h1, p
                    text-align: right
                    background-color: $color_b
                    display: inline-block
                    padding: 10px 20px

                h1
                    font-size: 35px
                    margin-bottom: 0

                    br
                        display: none

                p
                    font-style: italic
                    margin-top: 0
                    font-size: 28px

                    br
                        display: none

        .cards
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 50px
            margin: 100px auto

            .card
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column

                svg
                    width: 80px
                    height: 80px

                h3
                    text-align: center
    
    @media screen and (max-width: 650px)
        &.details
            .paralax
                .titles
                    h1
                        br
                            display: block 

            .cards
                grid-template-columns: repeat(2, 1fr)
                gap: 25px

                p
                    text-align: center


    @media screen and (max-width: 450px)
        &.details
            .paralax
                .titles
                    p
                        br
                            display: block 

            .cards
                grid-template-columns: repeat(1, 1fr)
                gap: 25px
                
                p
                    text-align: center


