.transportation
    position: relative

    .titles
        position: absolute
        left: 0
        right: 0
        height: calc(100vw / 1.8)
        text-align: center
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column


        h1, p
            background-color: $color_b
            padding: 15px 40px
            display: inline-block

        h1
            font-size: 50px
            margin-bottom: 0

            &.small
                font-size: 40px


        p
            font-size: 40px
            margin-top: 0

            &.small
                font-size: 20px

    h2
        text-align: center
        margin-top: 100px
        margin-bottom: 100px

    .cards
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 50px
        margin-bottom: 100px
        align-items: flex-start

        .card
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            text-align: center

    &.transport

        .gallery
            width: 100%
            position: relative

            .imgs-wrapper

                .imgs
                    width: 300%

                    img
                        width: 33.33%

            button

                &.next
                    right: 0
                    margin-right: 15px

                &.back
                    left: 0
                    margin-left: 15px

        .cards
            .card
                p
                    line-height: 25px
                    margin-top: 0

                    &.people
                        &:before
                            content: "a"
                            width: 30px
                            height: 25px
                            color: rgba(0,0,0,0)
                            display: inline-block
                            background-image: url("../imgs/svg-people.svg")
                            background-fill: cover
                            background-repeat: no-repeat

                    &.price
                        color: $color_c
                        font-size: 16px

                img
                    width: 100%
                    height: auto

    &.details

        // .paralax
        //     background-image: url("../imgs/transportation-transport.jpg")

        .cards
            .card
                svg
                    width: 80px
                    height: 80px

    @media screen and (max-width: 900px)
        .titles

            h1
                font-size: 30px

                &.small
                    font-size: 30px

            p
                font-size: 20px

                &.small
                    font-size: 15px

            h1, p
                padding: 10px 20px

            h1
                font-size: 50px
                margin-bottom: 0

    @media screen and (max-width: 700px)
        .cards
            grid-template-columns: repeat(2, 1fr)

        .titles

            h1
                font-size: 20px

            p
                font-size: 10px

            h1, p
                padding: 5px 10px


    @media screen and (max-width: 500px)
        .cards
            grid-template-columns: repeat(1, 1fr)

            .card
                margin-bottom: 50px

    @media screen and (max-width: 500px)
        .titles
            position: initial
            height: auto

