html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Urbanist", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

.max-width {
  width: calc(100% - 100px);
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .max-width {
    width: 95%;
  }
}

.regular-width {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.full-width, .paralax {
  width: 100%;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Maven Pro", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 30px;
}

header {
  background-color: #4F6A9E;
}
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .content .logo {
  height: 50px;
  margin: 20px 0;
}
header .content .btn.menu {
  display: none;
}
header .content nav {
  margin: 0;
  padding: 0;
}
header .content nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .content nav ul li {
  list-style: none;
}
header .content nav ul li a {
  padding: 15px;
  font-size: 12px;
  color: #ffffff;
}
header .content nav ul li a:hover {
  color: #C8B568;
}
header .content nav ul li a.active {
  font-weight: bold;
  cursor: default;
}
header .content nav ul li a.active:hover {
  color: #ffffff;
}
@media screen and (max-width: 850px) {
  header .content {
    flex-direction: column;
  }
  header .content .logo {
    margin-bottom: 10px;
  }
  header .content nav {
    margin: 20px 0;
  }
}
@media screen and (max-width: 700px) {
  header .content .btn.menu {
    display: block;
  }
  header .content nav {
    transition-duration: 0.5s;
    height: 200px;
    overflow: hidden;
    margin: 0;
  }
  header .content nav.collapsed {
    height: 0;
  }
  header .content nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header .content nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hero {
  position: relative;
}
.hero h2 {
  text-align: center;
}
.hero .paralax {
  background-image: url("../imgs/hero-1.png");
}
.hero .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 150px;
}
.hero .text-wrapper .paralax-text {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 20px;
}
.hero .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero .info img {
  width: 55%;
}
.hero .info .text {
  width: 40%;
}
@media screen and (max-width: 1100px) {
  .hero .info {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  .hero .info img {
    display: none;
  }
  .hero .info .text {
    width: 100%;
    order: -1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 850px) {
  .hero .text-wrapper .paralax-text {
    text-align: center;
  }
}

#footer {
  width: 100%;
  background-color: #4F6A9E;
  color: white;
  font-family: "Maven Pro", sans-serif;
}
#footer a {
  color: #ffffff;
}
#footer .wrapper-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#footer .wrapper-btn .btn.footer {
  margin-top: -25px;
  position: absolute;
  top: 0;
  z-index: 2;
  color: #1a1a1a;
}
#footer .widgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}
#footer .widgets .widget:nth-child(1) {
  width: 400px;
}
#footer .widgets .widget:nth-child(2) {
  width: 205px;
}
#footer .widgets .widget h2 {
  font-size: 18px;
  color: #C8B568;
}
#footer .widgets .widget a, #footer .widgets .widget p {
  font-style: normal;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#footer .widgets .widget a svg, #footer .widgets .widget p svg {
  margin-right: 20px;
  width: 15px;
  height: 20px;
  fill: #ffffff;
}
#footer .widgets .widget a:hover {
  color: #C8B568;
}
#footer .copyright {
  padding-top: 20px;
  padding-bottom: 50px;
  display: block;
  text-align: center;
  font-size: 10px;
}
@media screen and (max-width: 750px) {
  #footer .widgets {
    flex-direction: column;
  }
  #footer .widgets .widget:nth-child(1), #footer .widgets .widget:nth-child(2) {
    width: 400px;
  }
  #footer .widgets .widget:nth-child(2) {
    order: -1;
  }
}
@media screen and (max-width: 450px) {
  #footer .widgets .widget:nth-child(1), #footer .widgets .widget:nth-child(2) {
    width: 95%;
  }
}

.about .paralax {
  background-image: url("../imgs/about-1.png");
}
.about .paralax .wrapper-text h2, .about .paralax .wrapper-text p {
  background-color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
}
.about .paralax .wrapper-text h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.about .paralax .wrapper-text p {
  margin-top: 0;
}
.about .omar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}
.about .omar h2 {
  font-size: 20px;
  order: 3;
}

.btn.menu {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  transition-duration: 0.5s;
}
.btn.menu svg {
  width: 30px;
  height: 30px;
  fill: #C8B568;
}
.btn.menu.active {
  transform: rotateZ(180deg);
}
.btn.white {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px rgba(79, 106, 158, 0.2);
  text-align: center;
  color: #4F6A9E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn.white:hover {
  transform: scale(1.1);
}
.btn.slide {
  width: 40px;
  height: 40px;
}
.btn.slide svg {
  width: 50%;
  height: 50%;
}
.btn.footer {
  width: 50px;
  height: 50px;
}
.btn.footer svg {
  width: 15px;
  height: 15px;
}
.btn.cta {
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-transform: upper;
  display: inline-block;
  background: #1a1a1a;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
  transition-duration: 0.5s;
  margin-bottom: 0;
  border: 2px solid black;
}
.btn.cta:hover {
  border-radius: 30px;
  background: #ffffff;
  color: #1a1a1a;
}
.btn.cta:active {
  background: rgba(26, 26, 26, 0.3);
}

.services h1 {
  margin-top: 50px;
  font-size: 35px;
  margin-bottom: 50px;
}
.services .services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.services .services-cards .service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.services .services-cards .service:hover .wrapper-img {
  opacity: 0.05;
}
.services .services-cards .service .wrapper-img {
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 230px;
  opacity: 1;
  transition-duration: 0.5s;
  top: 0;
}
.services .services-cards .service .wrapper-img img {
  width: auto;
  height: 110%;
}
.services .services-cards .service h2 {
  order: 3;
  height: 75px;
  text-align: center;
  margin-top: 15px;
}
.services .services-cards .service .wrapper-text {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F6A9E;
  border-radius: 20px;
}
.services .services-cards .service .wrapper-text p {
  font-size: 15px;
  width: 85%;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .services .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .services .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .services .services-cards .service .wrapper-img {
    width: 100%;
  }
  .services .services-cards .service .wrapper-img img {
    width: 110%;
    height: auto;
  }
}
@media screen and (max-width: 420px) {
  .services .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .services .services-cards .service .wrapper-img {
    width: 100%;
    height: 230px;
  }
  .services .services-cards .service .wrapper-img img {
    width: auto;
    height: 110%;
  }
}

.transportation h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.transportation .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 100px;
}
.transportation .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.transportation.details .paralax {
  background-image: url("../imgs/transportation-details.jpg");
}
.transportation.details .paralax .titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 100px;
}
.transportation.details .paralax .titles h1, .transportation.details .paralax .titles p {
  text-align: right;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
}
.transportation.details .paralax .titles h1 {
  font-size: 35px;
  margin-bottom: 0;
}
.transportation.details .paralax .titles h1 br {
  display: none;
}
.transportation.details .paralax .titles p {
  font-style: italic;
  margin-top: 0;
  font-size: 28px;
}
.transportation.details .paralax .titles p br {
  display: none;
}
.transportation.details .cards .card svg {
  width: 80px;
  height: 80px;
}
.transportation.transport .paralax {
  background-image: url("../imgs/transportation-transport.jpg");
}
.transportation.transport .cards .card p {
  line-height: 25px;
  margin-top: 0;
}
.transportation.transport .cards .card p.people:before {
  content: "a";
  width: 30px;
  height: 25px;
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  background-image: url("../imgs/svg-people.svg");
  background-fill: cover;
  background-repeat: no-repeat;
}
.transportation.transport .cards .card p.price {
  color: #C8B568;
  font-size: 16px;
  font-stretch: italic;
}
.transportation.transport .cards .card img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 700px) {
  .transportation.details .paralax .titles h1 br {
    display: block;
  }
  .transportation .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .transportation.details .paralax .titles p br {
    display: block;
  }
  .transportation .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .transportation .cards .card {
    margin-bottom: 50px;
  }
}

.social h1 {
  font-size: 35px;
}
.social p span {
  font-weight: bold;
}
.social .paralax.top {
  background-image: url("../imgs/social-1.jpg");
}
.social .paralax.bottom {
  background-image: url("../imgs/social-2.jpg");
}
.social .text.top {
  margin-bottom: 50px;
}
.social .text.bottom {
  margin: 50px auto;
}
.social .flex {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social .flex .info, .social .flex .gallery {
  width: 48%;
}
.social .flex .gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}
.social .flex .gallery .imgs-wrapper {
  width: 100%;
  overflow: hidden;
}
.social .flex .gallery .imgs-wrapper .imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.5s;
}
.social .flex .gallery .imgs-wrapper .imgs img {
  width: 100%;
  height: auto;
}
.social .flex .gallery button {
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -15px;
}
.social .flex .gallery button.next {
  right: -15px;
}
.social .flex .gallery button.next svg {
  transform: rotateZ(90deg);
}
.social .flex .gallery button.back {
  left: -15px;
}
.social .flex .gallery button.back svg {
  transform: rotateZ(-90deg);
}
@media screen and (max-width: 800px) {
  .social .flex {
    flex-direction: column;
  }
  .social .flex .info {
    width: 100%;
  }
  .social .flex .gallery {
    width: 90%;
    max-width: 491px;
  }
}

.wrapper-testimonials {
  margin-bottom: 100px;
  margin-top: 100px;
}
.wrapper-testimonials h2 {
  text-align: center;
  margin-bottom: 50px;
}
.wrapper-testimonials .testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.wrapper-testimonials .testimonials article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.wrapper-testimonials .testimonials article img {
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
  height: auto;
}
.wrapper-testimonials .testimonials article cite {
  display: block;
}
.wrapper-testimonials .testimonials article cite:nth-child(1) {
  font-weight: bold;
}
@media screen and (max-width: 850px) {
  .wrapper-testimonials .testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper-testimonials .testimonials article {
    margin-bottom: 50px;
  }
  .wrapper-testimonials .testimonials article:last-child {
    margin-bottom: 0;
  }
  .wrapper-testimonials .testimonials article img {
    max-width: 150px;
  }
}

.why-us h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.why-us .cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}
.why-us .cards .card {
  width: 30%;
}
.why-us .cards .card img {
  width: 100%;
  height: auto;
}
.why-us .cards .card p {
  font-weight: bold;
  font-size: 16px;
}
.why-us h3 {
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 50px auto;
}
@media screen and (max-width: 750px) {
  .why-us .cards {
    flex-direction: column;
    align-items: center;
  }
  .why-us .cards .card {
    width: 70%;
    margin-bottom: 50px;
  }
  .why-us .cards .card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .why-us .cards .card {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
